<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>     
       
       <!-- Latest compiled and minified CSS & JS -->
       <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
       <script src="//code.jquery.com/jquery.js"></script>
       <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    </head>

    <body>
        <div ng-app="app">
            <div class="unproduit" ng-controller="produitctrl as produit">
            Votre article '{{produit.nom}}' ref : {{produit.ref}} au prix de {{produit.prix | currency}}€ a été ajouté au panier pour un total de {{quant * prix | currency : '&euro;' : 3}}
            <br/>
            <hr/>
            Reférence du produit :
            <input type="text" name="produit.ref" id="produit.ref" ng-model="produit.ref" />
            <hr/>
            Prix du produit :
            <input type="number" name="produit.prix" id="produit.prix" ng-model="produit.prix" />
            <hr/>
            Nom du produit :
            <input type="text" name="produit.nom" id="produit.nom" ng-model="produit.nom" />
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.0/angular.js"></script> 
        <script src="/APP/App.js"></script> 
        <script src="/APP/produitctrl/produitctrl.js"></script> 
    </body>


</html>